@use "../sass/index" as *;

html,
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: color("text-inverse");
  background: color("background-dark-mode");
  font-family: var(--font-inter-tight), $font-family, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// Main Container
.container {
  max-width: container("max-width");
  margin: 0 auto;
  padding-left: space(4);
  padding-right: space(4);
  padding-top: 80px; // Account for fixed navbar height + buffer
  min-height: 100vh;

  @include respond-to("tablet") {
    padding-left: space(6);
    padding-right: space(6);
    padding-top: 76px; // Navbar height + buffer on tablet
  }

  @include respond-to("desktop") {
    padding-left: space(8);
    padding-right: space(8);
    padding-top: 80px; // Navbar height + buffer on desktop
  }

  // Mobile adjustment
  @media (max-width: 767px) {
    padding-top: 76px; // Navbar height + buffer on mobile
  }
}
